<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Starbucks</title>
    <link rel="icon" href="./img/title.png" type="image/icon type">
    <link rel="stylesheet" href="styles/index.css">
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
  <form action="login" method="POST">
    <div class="form-structor">
        <div class="signup">
            <h2 class="form-title" id="signup">Log in</h2>
            <div class="form-holder">
              
                <!-- <input type="text" class="input" placeholder="Name" /> -->
                <input type="email" class="input" placeholder="Email" name="email"/>
                <input type="password" class="input" placeholder="Password" name="password"/>
              
              </div>
            <button class="submit-btn" value="Log in">Log in</button>
        </div>
      </form>
        <div class="login slide-up">
            <div class="center">
                <h2 class="form-title" id="login"><span>or</span>Sign up</h2>
                <div class="form-holder">
                    <input type="text" class="input" placeholder="Name" />
                    <input type="email" class="input" placeholder="Email" />
                    <input type="password" class="input" placeholder="Password" />
                </div>
                <button class="submit-btn">Log in</button>
            </div>
        </div>
    </div>

<script src="js/animate.js"></script>
<script src="js/validate.js"></script>
</body>
</html>